<h2>Ejemplos clase 2</h2>

In [6]:
edad = input("Ingresa tu edad: ")
# print(type(edad))  # str​

edad = int(edad)   # conversión a entero​
print(type(edad))  # int

Ingresa tu edad: 30
<class 'int'>

<h3>Ejemplos de errores en conversión</h3>

In [12]:
#int("Hola")   # ValueError​
#float("abc")  # ValueError

In [26]:
nombre = "Ingrid"
edad = 30
ciudad = "Santiago"

In [27]:
print(nombre, "tiene", edad, "años y vive en", ciudad,".")

Ingrid tiene 30 años y vive en Santiago .

Convierte un número ingresado por el usuario a float y calcula su doble

In [43]:
numero = float(input("Ingresa un número: "))
print("El doble es:  \n ", numero * 2)

Ingresa un número: 5
El doble es:
  10.0

Practica conversiones:

In [35]:
texto = "123"
print(int(texto) + 5) # 128

128

¿Por qué imprime False?

 Porque una cadena vacía se interpreta como falso en lógica booleana.

In [41]:
valor = bool("")
print(valor)

False

Operadores aritmeticos

In [44]:
a, b = 7, 2

In [45]:
print(a / b)   # 3.5​

3.5

In [46]:
print(a // b)  # 3​

3

In [47]:
print(a % b)   # 1​

1

In [48]:
print(a ** b)  # 49

49

In [59]:
x = 10

In [60]:
#x = x + 5
x += 5   # 15​
print(x)

15

In [61]:
#x = x * 2
x *= 2   # 30
print(x)

30

In [65]:
edad = 19
print(edad >= 18)   # True

True

In [80]:
edad = 19
licencia = False

In [71]:
print(edad >= 18 and licencia) # False

False

In [74]:
print(edad >= 18 or licencia) # True

False

In [84]:
print(not licencia) # True

True

In [85]:
mensaje = "aprendiendo Python"

In [86]:
print("Python" in mensaje)      # True​

True

In [90]:
print("Java" not in mensaje)    # True

True

In [110]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]

In [105]:
print(c)

[1, 2, 3, 4]

In [106]:
print(a == c)   # True (mismo contenido)​

False

In [108]:
print(a is c)   # False (objetos distintos)​

False

In [109]:
print(a is b)   # True  (misma referencia)

True

In [112]:
res = 10 - 2 * 3 ** 1

# 3 ** 1 = 3; 2 * 3 = 6;  10 - 6 = 4
# 3 ** 2 = 9; 2 * 9 = 18; 10 - 18 = -8 ​

print(res)

4

In [113]:
# -8 # Usa paréntesis para dejarlo claro (y evitar bugs) ​

res2 = (10 - 2) * (3 ** 2) # 8 * 9 = 72

res2

72

Ejercicio: crear un conversor de temperatura.

In [115]:
celsius = float(input("Ingrese la temperatura en °C: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperatura en °F:", fahrenheit)

Ingrese la temperatura en °C: 33
Temperatura en °F: 91.4

Desafío extra: calcular el IMC (Índice de Masa Corporal).
![Captura de pantalla 2025-11-07 a la(s) 3.07.50 p.m..png]()

In [121]:
peso = float(input("Ingrese su peso en kilogramos: "))
altura = input("Ingrese su altura en metros:")
imc = round(peso/float(altura)**2,2)

print("Su indice de masa corporal es " + str(imc))

Ingrese su peso en kilogramos: 70
Ingrese su altura en metros:1.6
Su indice de masa corporal es 27.34

Pide un precio y calcula precio + 19% IVA.

In [118]:
precio = float(input("Precio: "))
total = precio * 1.19
print("Total con IVA:", total)

Precio: 100
Total con IVA: 119.0

Aprobación: Con nota final y asistencia, aprueba si nota >= 4.0 y asistencia >= 75.

In [127]:
nota = float(input("Nota final: "))
asistencia = int(input("Asistencia (%): "))
aprobado = (nota >= 4.0) and (asistencia >= 75)
print("¿Aprobado?", aprobado)

Nota final: 5
Asistencia (%): 80
¿Aprobado? True

Validación de contraseña (muy simple) - Debe contener "@".​

In [129]:
pwd = input("Clave: ")
print("¿Contiene @?", "@" in pwd)

Clave: 123456@
¿Contiene @? True

Orden de operaciones: predice el resultado y verifica:​

In [130]:
print(10 - 4 * 2 ** 2) # predice antes de ejecutar ​(-6)

print((10 - 4) * (2 ** 2)) # compara (24)

-6
24

# Condicionales if, elif, else

In [138]:
edad = 18

if edad >= 18:
 print("Es mayor de edad")
elif edad >= 13:
 print("Es adolescente")
else:
 print("Es menor de edad")

Es mayor de edad

Ciclo While

In [142]:
x = 0

while x < 3:
  print("Repetición", x)
  x = x + 1

print("---")
print(x)

Repetición 0
Repetición 1
Repetición 2
---
3

Ciclo for: Recorre elementos de una estructura

In [145]:
frutas = ["manzana", "pera", "uva","melón","frutillas"]

for fruta in frutas:
  print(fruta)

manzana
pera
uva
melón
frutillas

In [154]:
for i in range(5):
  if i == 3:
    break
  print(i)


print("---")
print(i) # imprimirá 0, 1, 2

0
1
2
---
3

In [155]:
for i in range(5):
  if i == 2:
    continue
  print(i) # imprimirá 0, 1, 3, 4


print("----")

0
1
3
4
----

# Ejemplos de Estructura de datos: Control de Flujo en Python​

* Usar un if para clasificar temperaturas como “normal”, “febrícula” o “fiebre”.
* Recorrer una lista de pacientes con un for e imprimir sus edades.
* Crear un ciclo while que imprima turnos hasta que llegue a un número límite.

In [163]:
# Usar un if para clasificar temperaturas como “normal”, “febrícula” o “fiebre”.

temp = float(input("Ingrese la temperatura: "))

if temp <= 36:
  print("Normal")
elif temp < 38:
  print("Febrícula")
else:
  print("Fiebre")

Ingrese la temperatura: 39
Fiebre

In [174]:
#Recorrer una lista de pacientes con un for e imprimir sus edades.
pacientes = [
    {"nombre": "Ana", "edad": 34,"lugar":"Stgo"},
    {"nombre": "Luis", "edad": 28},
    {"nombre": "María", "edad": 45},
    {"nombre": "Jorge", "edad": 52},
    {"nombre": "Sofía", "edad": 22},
    {"nombre": "Carlos", "edad": 37},
    {"nombre": "Laura", "edad": 49}
]

for paciente in pacientes:
    print(paciente["nombre"], "-" ,paciente["edad"], "años")

Ana - 34 años
Luis - 28 años
María - 45 años
Jorge - 52 años
Sofía - 22 años
Carlos - 37 años
Laura - 49 años

In [179]:
# Crear un ciclo while que imprima turnos hasta que llegue a un número límite.
limite = 5
turno = 0

while turno <= limite:
    print(f"Turno número {turno}")
    turno = turno + 1

Turno número 0
Turno número 1
Turno número 2
Turno número 3
Turno número 4
Turno número 5

<h2><b>Funciones en Python</b></h2>

In [180]:
def saludar():
    print("Hola, bienvenido al curso de Python!")

# Llamar a la función​
saludar()

Hola, bienvenido al curso de Python!

In [184]:
def saludar_persona(nombre):
  print("Hola", nombre, "¡bienvenido al curso!")

In [185]:
saludar_persona("Pedro")

Hola Pedro ¡bienvenido al curso!

In [186]:
saludar_persona("Ingrid")

Hola Ingrid ¡bienvenido al curso!

In [188]:
def sumar(a, b):
     resultado = a + b
     return resultado

In [191]:
def multiplicar(a, b):
     resultado = a * b
     return resultado

In [190]:
total = sumar(5, 10)
print("La suma es:", total)

La suma es: 15

In [194]:
total2 = multiplicar(5, 1)
print("La multiplicacion es:", total2)

La multiplicacion es: 5

In [210]:
def calcular_promedio(n1, n2, n3):
    return (n1 + n2 + n3) / 3

p = calcular_promedio(7, 6, 7)
print("Promedio final:", round(p, 1))

Promedio final: 6.7

In [208]:
def saludar(nombre="Amigo"):
    print("Hola", nombre)

saludar()           # Hola amigo​

saludar("Carla")    # Hola Carla

Hola Amigo
Hola Carla

<h1>Listas</h1>

In [214]:
nombres = ["Ingrid", "Pedro", "Ana","Sebastián","Jorge","Evelyn","Carlos","Ricardo"]
print(nombres)

['Ingrid', 'Pedro', 'Ana', 'Sebastián', 'Jorge', 'Evelyn', 'Carlos', 'Ricardo']

In [215]:
edades = [25, 30, 35]

for edad in edades:
    print("Edad:", edad)


edades.append(40)

Edad: 25
Edad: 30
Edad: 35

In [217]:
edades.append(45)

In [221]:
edades.insert(1, 50)

In [222]:
print(edades)

[25, 50, 30, 35, 40, 45]

In [223]:
numeros = [2, 4, 6, 8, 10]

In [226]:
numeros.append(12)

In [229]:
numeros.append(1)

In [230]:
print(numeros)

[2, 4, 6, 8, 10, 12, 1]

In [231]:
print(sum(numeros))        # 30​

print(max(numeros))        # 10​

print(min(numeros))        # 2​

print(len(numeros))        # 5

43
12
1
7

In [233]:
frutas = ["manzana", "pera", "uva", "plátano", "kiwi"]

In [234]:
print(frutas)

['manzana', 'pera', 'uva', 'plátano', 'kiwi']

In [238]:
print(frutas[4])   # 'manzana'

kiwi

In [245]:
print(frutas)   # ['pera', 'uva', 'plátano']

['manzana', 'pera', 'uva', 'plátano', 'kiwi']

combinar funciones y listas

In [247]:
def promedio_lista(lista):
    return sum(lista) / len(lista)

In [254]:
notas = [6, 7.0, 6.5, 7.0]
resultado = promedio_lista(notas)

print("Promedio general:", round(resultado, 2))

Promedio general: 6.62

<h2>Tuplas</h2>

In [256]:
coordenadas = (10.5, 20.3)

print(coordenadas[0])

10.5

<h2>Conjuntos</h2>

In [257]:
colores = {"rojo", "azul", "verde", "rojo"}

In [258]:
print(colores)

{'azul', 'verde', 'rojo'}

In [259]:
a = {1, 2, 3}
b = {3, 4, 5}

In [260]:
print(a)
print(b)

{1, 2, 3}
{3, 4, 5}

In [261]:
print(a | b)  # Unión → {1, 2, 3, 4, 5}​

{1, 2, 3, 4, 5}

In [262]:
print(a & b)  # Intersección → {3}​

{3}

In [263]:
print(a - b)  # Diferencia → {1, 2}

{1, 2}

<h2>Diccionarios</h2>

In [265]:
persona = {
    "nombre": "Ingrid",
    "edad": 35,
    "ciudad": "Santiago"
}

In [266]:
print(persona["nombre"])

Ingrid

In [271]:
persona["edad"] = 35

In [272]:
print(persona)

{'nombre': 'Ingrid', 'edad': 35, 'ciudad': 'Santiago'}

In [273]:
persona["profesion"] = "Ingeniera"  # agregar clave nueva

In [275]:
persona["profesion"] = "Ingeniero"

In [276]:
print(persona)

{'nombre': 'Ingrid', 'edad': 35, 'ciudad': 'Santiago', 'profesion': 'Ingeniero'}

In [277]:
persona = {"nombre": "Ana", "edad": 28, "ciudad": "Valdivia"}

for clave, valor in persona.items():
    print(clave, "→", valor)

nombre → Ana
edad → 28
ciudad → Valdivia