**Función promedio que usa lista**

In [15]:
def promedio(notas):
 return sum(notas) / len(notas)

notas = [5.5, 6.0, 6.3, 6.8]

print("Promedio:", round(promedio(notas), 2))

Promedio: 6.15

**Ejemplo de conversión de lista a conjunto (set)**

In [16]:
frutas = ["pera", "manzana", "pera", "naranja"]

print(frutas)

['pera', 'manzana', 'pera', 'naranja']

In [17]:
frutas = ["pera", "manzana", "pera", "naranja"]

unicas = set(frutas)

print(unicas)

{'manzana', 'pera', 'naranja'}

**Ejemplo de diccionario**

In [18]:
persona = {"nombre": "Ana",
             "edad": 28,
           "ciudad": "Valdivia"}

for clave, valor in persona.items():
    print(clave, "→", valor)

nombre → Ana
edad → 28
ciudad → Valdivia

**Ejemplo tupla**

In [19]:
ubicacion = (40.7128, -74.0060)

print("Latitud:", ubicacion[0])

Latitud: 40.7128

In [22]:
print("Latitud:", ubicacion[1])

Latitud: -74.006

**Mini proyecto**

In [30]:
def agregar_contacto(dicc, nom, tel):
    dicc[nom] = tel
    return dicc

In [29]:
contactos = {}
agregar_contacto(contactos, "Sebastian", "999999999")

{'Sebastian': '999999999'}

In [24]:

agregar_contacto(contactos, "Ingrid", "987654321")
agregar_contacto(contactos, "Pedro", "912345678")

{'Ingrid': '987654321', 'Pedro': '912345678'}

In [26]:
agregar_contacto(contactos, "Sebastian", "999999999")

{'Ingrid': '987654321', 'Pedro': '912345678', 'Sebastian': '999999999'}

In [27]:
print(contactos)

{'Ingrid': '987654321', 'Pedro': '912345678', 'Sebastian': '999999999'}

***Trabajando con archivos***

In [44]:
archivo = open("notas.txt", "r")

contenido = archivo.read()

print(contenido)

archivo.close()

Primera línea: Recordatorio de la clase.
Segunda línea: Repasar estructuras de control.
Tercera línea: Terminar el ejercicio de archivos.
Cuarta línea: Subir tarea a la plataforma.
Quinta línea: ¡Listo!
Sexta línea: nueva linea.
Septima línea: 7ma
Octava línea: 8va.

In [38]:
with open("notas.txt", "r") as f:
    for linea in f:
        print(linea.strip())

Primera línea: Recordatorio de la clase.
Segunda línea: Repasar estructuras de control.
Tercera línea: Terminar el ejercicio de archivos.
Cuarta línea: Subir tarea a la plataforma.
Quinta línea: ¡Listo!

In [43]:
contador = 0

with open("notas.txt", "r") as f:
    for _ in f:
        contador += 1
print("Número de registros:", contador)

Número de registros: 8

**Escribir un archivo**

In [51]:
with open("resumen.txt", "a") as f:
    f.write("Curso de Python Básico\n")
    f.write("Participantes: 3\n")
    f.write("Promedio final: 6.1\n")

In [52]:
archivo = open("resumen.txt", "r")
contenido = archivo.read()
print(contenido)
archivo.close()

Curso de Python Básico
Participantes: 3
Promedio final: 6.1
Curso de Python Básico
Participantes: 3
Promedio final: 6.1
Curso de Python Básico
Participantes: 3
Promedio final: 6.1
Curso de Python Básico
Participantes: 3
Promedio final: 6.1

In [56]:
from datetime import date


# Obtener la fecha del día
hoy = date.today().strftime("%d-%m-%Y")

with open("resumen_con_fecha.txt", "w", encoding="utf-8") as f:
 f.write("Curso de Python Básico\n")
 f.write("Participantes: 3\n")
 f.write("Promedio final: 6.1\n")
 f.write(f"Fecha del reporte: {hoy}\n")

**Archivos CVS**

In [57]:
import csv

with open("ventas.csv", "r") as archivo:
    lector = csv.reader(archivo)
    for fila in lector:
        print(fila)

['fecha', 'producto', 'monto']
['2025-01-10', 'pan', '1200']
['2025-01-11', 'leche', '1500']
['2025-01-12', 'pan', '1300']
['2025-01-13', 'arroz', '2100']
['2025-01-14', 'pan', '1400']
['2025-01-15', 'leche', '1600']

In [65]:
import csv

total = 0

with open("ventas.csv", "r") as archivo:
    lector = csv.reader(archivo)
    next(lector)  # omite encabezado​
    for fila in lector:
        total = total + int(fila[2])
        print(fila)

print("Total de ventas:", total)

['2025-01-10', 'pan', '1200']
['2025-01-11', 'leche', '1500']
['2025-01-12', 'pan', '1300']
['2025-01-13', 'arroz', '2100']
['2025-01-14', 'pan', '1400']
['2025-01-15', 'leche', '1600']
Total de ventas: 9100

In [69]:
import csv

total = 0

with open("ventas.csv", "r") as archivo:
    lector = csv.reader(archivo)
    for indice, colum in enumerate(lector):
        if indice == 0:
            continue  # Salta la primera fila
        total = total + int(colum[2])
        print(colum)

print("Total de ventas:", total)

['2025-01-10', 'pan', '1200']
['2025-01-11', 'leche', '1500']
['2025-01-12', 'pan', '1300']
['2025-01-13', 'arroz', '2100']
['2025-01-14', 'pan', '1400']
['2025-01-15', 'leche', '1600']
Total de ventas: 9100

In [73]:
import csv
ventas = [ ["fecha",      "producto", "monto"],
           ["2025-01-10", "pan",         1200],
           ["2025-01-09", "leche",       1500],
           ["2025-01-12", "huevos",      1700] ]

with open("ventas_nuevas.csv", "w", newline="") as f:
      escritor = csv.writer(f)
      escritor.writerows(ventas)

In [77]:
import csv

with open("ventas.csv", "r") as f:
    lector = csv.DictReader(f)
    for fila in lector:
        #print(fila["fecha"], "→", fila["producto"], "→", fila["monto"])
        print(fila["producto"], "→", fila["monto"])

pan → 1200
leche → 1500
pan → 1300
arroz → 2100
pan → 1400
leche → 1600

In [85]:
import csv

resumen = {}

with open("ventas.csv", "r") as f:
    lector = csv.DictReader(f)
    for fila in lector:
     producto = fila["producto"]
     monto = int(fila["monto"])
     resumen[producto] = resumen.get(producto, 0) + monto
     print(resumen)

#print(resumen)

{'pan': 1200}
{'pan': 1200, 'leche': 1500}
{'pan': 2500, 'leche': 1500}
{'pan': 2500, 'leche': 1500, 'arroz': 2100}
{'pan': 3900, 'leche': 1500, 'arroz': 2100}
{'pan': 3900, 'leche': 3100, 'arroz': 2100}

In [86]:
import csv

print(resumen)

with open("resumen_ventas.csv", "w", newline="") as f:
    escritor = csv.writer(f)
    escritor.writerow(["producto", "total"])
    for producto, total in resumen.items():
        print(producto, "→", total)
        escritor.writerow([producto, total])

{'pan': 3900, 'leche': 3100, 'arroz': 2100}
pan → 3900
leche → 3100
arroz → 2100

In [89]:
import csv

ventas_altas = []

with open("ventas.csv", "r") as f:
    lector = csv.DictReader(f)
    for col in lector:
        monto = int(col["monto"])
        if monto > 1500:
            ventas_altas.append(col)

print("Ventas altas:", ventas_altas)

Ventas altas: [{'fecha': '2025-01-13', 'producto': 'arroz', 'monto': '2100'}, {'fecha': '2025-01-15', 'producto': 'leche', 'monto': '1600'}]

In [90]:
import pandas as pd

notas = pd.Series([6.5, 5.8, 7.0, 6.0])

print(notas)

0    6.5
1    5.8
2    7.0
3    6.0
dtype: float64

In [91]:
print(notas[0])       # primer valor​

6.5

In [92]:

print(notas.mean())   # promedio​

6.325

In [93]:

print(notas.max())    # máximo​

7.0

In [94]:

print(notas.describe())  # resumen estadístico

count    4.000000
mean     6.325000
std      0.537742
min      5.800000
25%      5.950000
50%      6.250000
75%      6.625000
max      7.000000
dtype: float64

In [95]:
import pandas as pd

datos = {
    "Nombre": ["Ingrid", "Pedro", "Ana"],
    "Edad": [35, 28, 40],
    "Ciudad": ["Santiago", "Valdivia", "Antofagasta"]
}

df = pd.DataFrame(datos)
print(df)

   Nombre  Edad       Ciudad
0  Ingrid    35     Santiago
1   Pedro    28     Valdivia
2     Ana    40  Antofagasta

In [96]:
df.head(1)

   Nombre  Edad    Ciudad
0  Ingrid    35  Santiago

In [97]:
df.describe()

            Edad
count   3.000000
mean   34.333333
std     6.027714
min    28.000000
25%    31.500000
50%    35.000000
75%    37.500000
max    40.000000

In [98]:
df.shape

(3, 3)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  3 non-null      object
 1   Edad    3 non-null      int64
 2   Ciudad  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes