# 🚢 Titanic: Inspección y Limpieza de Datos con Pandas
Este notebook utiliza el dataset del Titanic para practicar:
- Carga de archivos CSV
- Inspección de datos con `pandas`
- Limpieza de valores nulos y duplicados
- Conversión de tipos de datos

## 📥 1. Carga del archivo CSV
Asegúrate de subir el archivo `Titanic-Dataset.csv` a tu entorno de Colab.

In [ ]:
import pandas as pd

# Cargar archivo CSV
df = pd.read_csv('Titanic-Dataset.csv')
df.head()

## 🔍 2. Inspección del DataFrame

In [ ]:
df.info()  # Tipos de datos y nulos
df.shape  # Filas y columnas
df.describe()  # Estadísticas numéricas
df.isnull().sum()  # Conteo de valores nulos por columna
df.duplicated().sum()  # Verificar duplicados

## 🧽 3. Tratamiento de valores nulos y duplicados

In [ ]:
# Eliminar duplicados si los hay
df = df.drop_duplicates()

# Ver columnas con más nulos
df.isnull().mean().sort_values(ascending=False)[:5]

### 🔧 Ejemplo: completar y eliminar nulos

In [ ]:
# Rellenar edad con la media
df['Age'] = df['Age'].fillna(df['Age'].mean())

# Eliminar filas con Embarked nulo
df = df.dropna(subset=['Embarked'])

# Revisar nuevamente nulos
df.isnull().sum()

## 🔄 4. Conversión de tipos de datos

In [ ]:
# Convertir 'Survived' a categoría
df['Survived'] = df['Survived'].astype('category')
# Convertir 'Pclass' a string (si se desea visualizar como categoría)
df['Pclass'] = df['Pclass'].astype(str)
# Convertir 'Sex' a tipo categoría
df['Sex'] = df['Sex'].astype('category')
# Confirmar cambios
df.dtypes